*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
    color: white;
}
.app{
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   background: black; 
}

header h1{
    margin:  50px 0px 30px 0px;
    text-align: center;
    font-size: 60px
}

header p{
    font-size: 25px;
}

.pads{
    background: lightblue;
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;
}
.pad1{
  background: #4810CC;   
}
.pad2{
  background: #FFC96E;   
}
.pad3{
  background: #6C5999;   
}
.pad4{
  background: #CCA57E;   
}
.pad5{
  background: #2E60FF;   
}
.pad6{
  background: #CC10CC;   
}